<section class="heroBg relative object-cover bg-center lg:min-h-screen py-32 flex flex-col items-center justify-center">
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-white z-0 opacity-95"></div>
    <div class="hidden lg:block absolute top-0 left-2/4 bottom-0 transform -translate-x-2/4 w-2 bg-purple-500 shadow-md z-0"></div>
    <div class="container sticky z-10">
        <div class="flex flex-col lg:flex-row items-center justify-center gap-10 lg:gap-5 xl:gap-8">
            <nav class="flex flex-col items-center lg:items-end w-full lg:w-4/12">
                <div class="flex items-center justify-center lg:justify-end gap-3 font-medium">
                    {{ range .Site.Data.menu }}
                    <a href="{{ .url }}" class="navItem block relative">
                        <span class="navText block absolute pl-3 bottom-20 left-2/4 transform -rotate-90 -translate-x-2/4 w-28 text-lg lg:text-xl">
                            {{ .label }}
                        </span>
                        <span class="block bg-purple-500 text-white p-1 shadow-md w-10">
                            {{ .icon | safeHTML  }}
                        </span>
                    </a>
                    {{ end }}
                </div>
                <div class="flex flex-wrap lg:flex-nowrap items-center justify-center lg:justify-end gap-3 py-4">
                    {{ range .Site.Data.socials }}
                    <a aria-label="{{ .platform }}" href="{{ .url }}" target="_blank" class="block">
                        <img class="w-10" src="{{.icon}}" alt="">
                    </a>
                    {{ end }}
                </div>
                <div class="text-center md:text-right">
                    {{ .Site.Data.homeHero.marketText }}
                    {{ range .Site.Data.marketplace }}
                    <a href="{{ .url }}" target="_blank" class="inline-block underline ml-1">
                        {{ .platform }}
                    </a>
                    {{ end }}
                </div>
            </nav>
            <figure class="w-full lg:w-auto relative">
                <div class="lg:hidden absolute top-2/4 left-0 right-0 transform -translate-y-2/4 h-2 bg-purple-500 shadow-md"></div>
                <img class="sticky z-10 w-60 sm:w-80 lg:w-72 xl:w-80 h-60 sm:h-80 lg:h-72 xl:h-80 object-cover rounded-full rounded-full border-8 border-purple-500 bg-white shadow-md mx-auto" src="{{ .Site.Data.homeHero.image }}" alt="{{ .Site.Data.homeHero.heading }}">
                <a href="#skills" class="absolute top-full left-2/4 bg-purple-500 hover:bg-white border border-white hover:border-purple-500 text-white hover:text-purple-500 p-1.5 rounded-full transform -translate-x-2/4 -translate-y-2/4 z-20 hover:opacity-100">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>                      
                </a>
            </figure>
            <article class="text-center lg:text-left w-full lg:w-4/12">
                <p class="text-xl sm:text-2xl lg:text-xl xl:text-2xl">
                    {{ .Site.Data.homeHero.subheading }}
                </p>
                <h1 class="text-4xl sm:text-5xl lg:text-4xl xl:text-5xl py-4">
                    {{ .Site.Data.homeHero.heading }}
                </h1>
                <p class="max-w-md mx-auto lg:ml-0 text-lg sm:text-xl lg:text-lg xl:text-xl">
                    {{ .Site.Data.homeHero.decsription }}
                </p>
            </article>
        </div>
        <ul class="mt-10 md:mt-14 flex flex-wrap items-center justify-center text-base sm:text-lg font-medium max-w-xl mx-auto">
            {{ range .Site.Data.homeHero.tags }}
            <li class="bg-white p-1">
                <a href="{{ .url }}" class="{{ .color }} tagBtn inline-block py-0.5 px-2.5 border-2 hover:opacity-100">
                    {{ .tag }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>